@import "tailwindcss";

@theme {
  --color-one: #131a2a;
  --color-two: #fdc85d;
  --color-three: #7c7c7c;
  --color-four: #f4faff;
  --color-five: #ffffff;
}

.flip-card-inner {
  transform-style: preserve-3d;
}

.flip-card-front,
.flip-card-back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.slow-transition {
  transition: 0.4s;
}
