@import "tailwindcss";

/* @theme {
  --color-gradient: linear-gradient(
    135deg,
    rgba(230, 230, 230, 1) 0%,
    rgba(255, 222, 89, 1) 100%
  );
} */

.gradient {
  background: #e6e6e6;
  background: linear-gradient(
    135deg,
    rgba(230, 230, 230, 1) 0%,
    rgba(255, 222, 89, 1) 100%
  );
}

.gradientBorder {
  border-image: linear-gradient(
    135deg,
    rgba(230, 230, 230, 1) 0%,
    rgba(255, 222, 89, 1) 100%
  );
  border-image-slice: 1;
}
