@import "tailwindcss";

.dropdown {
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition-duration: 0.5s;
  position: absolute;
}

.dropdown.shown {
  height: auto;
  opacity: 1;
  position: relative;
}

.drop-button > div {
  transition-duration: 0.5s;
}

.drop-button.shown > div {
  transform: rotate(0);
}
