@import "tailwindcss";

.dropdown {
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: opacity 0.6s ease-out;
  position: absolute;
}

.dropdown.shown {
  height: auto;
  opacity: 1;
  position: relative;
}

.drop-button > div {
  transition-duration: 0.6s;
  transition-timing-function: ease-out;
}

.drop-button.shown > div {
  transform: rotate(0);
}
